@import "../assets/Font/stylesheet.css";

@tailwind base;

/* Your own custom base styles */

@layer base {
    html {
      font-family: 'FCIconic' !important;
      font-size: 16px !important;
      color:"#000" !important;
    }
  }

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

body {
  font-family: 'FCIconic' !important;
  font-size: 20px !important;
}

.ant-table-thead>tr>th{
  color: #4D4D4D !important;
  background: #F3F9FF !important;
  font-size: 18px !important;
  border-bottom: 1px solid #f0f0f0 !important;
}

/* .ant-table-selection-column{
  padding-right: 50px !important;
   border-right: 1px solid #f0f0f0 !important; 
} */
.ant-table-tbody>tr>td {
  font-size: 20px !important;
  color: #4D4D4D !important;
}