.inNav_select {
  background-color: transparent;
  color: rgb(101, 101, 101) !important;
  border-radius: 5px !important;
}

.sub_inNav_select {
  background-color: transparent;
  color: rgb(101, 101, 101) !important;
}

.Nav_select {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #3b8de2;
  --tw-gradient-stops:#3b8de2,
    var(--tw-gradient-to, rgb(14 37 79 / 0));
  --tw-gradient-to: var(--tw-gradient-from);
  color: #fff !important;
  border-radius: 5px !important;
}

.Nav_select_have_sub {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #4E98E4;
  --tw-gradient-stops:#4E98E4,
    var(--tw-gradient-to, rgb(14 37 79 / 0));
  --tw-gradient-to: var(--tw-gradient-from);
  color: #fff !important;
  border-radius: 5px !important;
}

.Sub_Nav_select {
  background-color: #3b8de2 !important;
  color: rgb(255, 255, 255)  !important;
}

.Sub_Nav_select:hover {
  background-color: #3b8de2 !important;
  color: rgb(255, 255, 255)  !important;
}


.inNav_select::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 6px;
  height: 80%;
  border-radius: 0 99px 99px 0;
  color: #fff !important;
}


.inNav_select:hover {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #3b8de2;
  --tw-gradient-stops:#3b8de2,
    var(--tw-gradient-to, rgb(14 37 79 / 0));
  --tw-gradient-to: var(--tw-gradient-from);
  color: #fff !important;
  border-radius: 5px !important;
}

.Sub_Nav_Active {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #3b8de2;
  --tw-gradient-stops:#3b8de2,
    var(--tw-gradient-to, rgb(14 37 79 / 0));
  --tw-gradient-to: var(--tw-gradient-from);
  color: #fff !important;
  border-radius: 5px !important;
  border-right: 0 !important;
}

.Sub_Nav_Active:active {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #3b8de2;
  --tw-gradient-stops:#3b8de2,
    var(--tw-gradient-to, rgb(14 37 79 / 0));
  --tw-gradient-to: var(--tw-gradient-from);
  color: #fff !important;
  border-radius: 5px !important;
  border-right: 0 !important;
}

.Sub_Nav_Active::after {
  border-right: 1px solid white !important;
}

.Sub_Nav_near_Active {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #62A3E7;
  --tw-gradient-stops:#62A3E7,
    var(--tw-gradient-to, rgb(14 37 79 / 0));
  --tw-gradient-to: var(--tw-gradient-from);
  color: #fff !important;
  border-radius: 5px !important;
  border-right: 0 !important;
}

.Sub_Nav_near_Active:active {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #62A3E7;
  --tw-gradient-stops:#62A3E7,
    var(--tw-gradient-to, rgb(14 37 79 / 0));
  --tw-gradient-to: var(--tw-gradient-from);
  color: #fff !important;
  border-radius: 5px !important;
  border-right: 0px !important;
}

.Sub_Nav_near_Active::after{
  border-right: 20px solid white !important;
}

.Sub_Nav_InActive{
  background-color: #FFF;
  color: #000;
}
